name: Secret Test

on:
  push:
    branches:
      - dev

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print env
        env:
          TEST_USER: ${{ secrets.DOCKER_USERNAME }}
          TEST_PASS: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "USER length=${#TEST_USER}"
          echo "PASS length=${#TEST_PASS}"

