name: CI - Docker Build Push (manual login)

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker login (manual)
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t prateekmall/devops-flask-app:latest .

      - name: Push Docker image
        run: |
          docker push prateekmall/devops-flask-app:latest
