name: Secret Proof

on:
  push:
    branches: [dev]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check secrets
        env:
          USER: ${{ secrets.DOCKER_USERNAME }}
          PASS: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "USER length: ${#USER}"
          echo "PASS length: ${#PASS}"

